<navbar></navbar>
<sidebar></sidebar>

<div class="container-base">
    <div class="content-page">
        <div class="container-cards">
            <div class="card">
                <div class="title">
                    <div class="card-icon blue">
                    </div>
                    
                    <div class="card-category">
                        Investimentos
                    </div>
                    
                    <h3 class="card-title">R$ <span id="Investimentos">{{objetoGrafico.investimentos}}</span></h3>
                </div>

                <div class="card-footer">
                    <div class="arrow"></div>
                    <div class="text-info">off</div>
                </div>
            </div>

            <div class="card">
                <div class="title">
                    <div class="card-icon green">
                    </div>
                    
                    <div class="card-category">
                        Despesas Pagas
                    </div>
                    
                    <h3 class="card-title">R$ <span id="Investimentos">{{objetoGrafico.despesas_pagas}}</span></h3>
                </div>

                <div class="card-footer">
                    <div class="arrow"></div>
                    <div class="text-info">Acessar mes</div>
                </div>
            </div>

            <div class="card">
                <div class="title">
                    <div class="card-icon orange">
                    </div>
                    
                    <div class="card-category">
                        Despesas a Pagar
                    </div>
                    
                    <h3 class="card-title">R$ <span id="Investimentos">{{objetoGrafico.despesas_pendentes}}</span></h3>
                </div>

                <div class="card-footer">
                    <div class="arrow"></div>
                    <div class="text-info">Acessar mes</div>
                </div>
            </div>
        </div>

        <div class="container-cards">

            <div class="card">
                <div class="title">
                    <div class="card-icon red">
                    </div>
                    
                    <div class="card-category">
                        Despesas Atrasadas
                    </div>
                    
                    <h3 class="card-title">R$ <span id="Investimentos">{{objetoGrafico.despesas_naoPagasMesesAnteriores}}</span></h3>
                </div>

                <div class="card-footer">
                    <div class="arrow"></div>
                    <div class="text-info">Verificar despesas Atrasadas</div>
                </div>
            </div>

            <div class="card">
                <div class="title">
                    <div class="card-icon red">
                    </div>
                    
                    <div class="card-category">
                        Executar Copia das Despesas
                    </div>                    
                </div>

                <div class="card-footer">
                    <div class="arrow"></div>
                    <div class="text-info">off</div>
                </div>
            </div>

            
        </div>
    </div>
</div>