.container-navbar {
    background: #3d3c3b;
    position: fixed;
    box-sizing: border-box;
    box-shadow: 0px 0.5px 2px rgb(53 51 52 / 16%);
    height: 72px;
    display: flex;
    width: -webkit-fill-available;
    z-index: 9999;

    justify-content: center;
    align-items: center;

    .row {
        display: flex;
        text-align: center;
        font-family: 'Ubuntu', sans-serif;
        font-size: 26px;
        letter-spacing: 4px;
        word-spacing: 1px;
        color: #e9e9e9;
        font-weight: bold;
        text-decoration: none;
        font-style: normal;
        font-variant: normal;
        text-transform: capitalize;
    }

    
}

.container-navbar .material-symbols-outlined {
    cursor: pointer;
    color: white;
}